{% extends "layout.html" %}

  {% block css_stylesheets %}
    {{ super() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
    />
  {% endblock css_stylesheets %}

  {% block body_content %}
    <section class="about-page-section">
      <div class="container">
        <h1 class="about-heading">About Regressors</h1>
        <p class="about-text">Our goal is to make a quality place where students, freshers and professionals can interact with each other and help themselves with the problems they face in hyperactive professional world.
        These problems can be anything related to work and the projects they are working or even some difficulty with some common knowledge that they don't know cause of less experience they have.
        In simple words our mission is to create a better place for every individual who works in today's world or looking to work in tech business and environment.</p>
      </div>
    </section>
  {% endblock body_content %}
