<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}Regressors{% endblock page_title %}</title>

    <!-- Stylesheets -->
    {% block css_stylesheets %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% endblock css_stylesheets %}

    <!-- FontAwesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="nav-bar">
      <div class="container">
        <a href="#" class="logo">Reg<span>ress</span>ors</a>

        <div class="search-box">
          <input type="text" class="search-txt" placeholder="Search" />
          <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
          </a>
        </div>

        <div class="menu">
            <div class="menu-icon notifications-btn"><i class="fas fa-bell"></i></div>
            <div class="profile-btn"><i class="profile-icon fas fa-user"></i><span class="user-name">User</span></div>
        </div>
      </div>
    </nav>
    <!-- Navbar ends -->

    <section>
        {% block body_content %}{% endblock body_content %}
    </section>

    <!-- Footer -->
    <section class="footer" id="footer">
      <div class="container">
        <p>&#169; Regressors All Rights Reserved 2022-2024</p>
      </div>
    </section>
    <!-- Footer ends -->

    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
