{% extends "layout.html" %}

  {% block css_stylesheets %}
    {{ super() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/post.css') }}"
    />
  {% endblock css_stylesheets %}

  {% block body_content %}
    <section class="post-section">
      <div class="left-sidebar">
        <h2>Welcome, {{ current_user.username }}</h2>
        <div class="sidebar-nav-menus">
          <div class="sidebar-nav-menu">
            <span>Home</span>
          </div>
          <div class="sidebar-nav-menu">
            <span>Posts</span>
          </div>
          <div class="sidebar-nav-menu">
            <span>Recents</span>
          </div>
          <div class="sidebar-nav-menu">
            <span>Categories</span>
          </div>
          <div class="sidebar-nav-menu">
            <span>Users</span>
          </div>
        </div>
      </div>
      <div class="right-sidebar">
        <h2>Connect with others</h2>
        <div class="users-list">
          {% for user in users %}
            <div class="user">
              <div class="user-img-and-name">
                <img class="user-img" src="{{ url_for('static', filename='img/profile-pic.jpg') }}" alt="" />
                <div class="user-name-and-email">
                  <a href="{{ url_for('profile', user_id=user.id) }}"><h3 class="user-username">{{ user.username }}</h3></a>
                  <a href="{{ url_for('profile', user_id=user.id) }}"><h4 class="user-email">{{ user.email }}</h4></a>
                </div>
              </div>
              <a href="#" class="btn btn-secondary follow-btn">Follow<span class="plus-icon"><i class="fa-solid fa-plus"></i></span></a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="container">
        <div class="header">
          <h1>Recent Posts</h1>
        </div>
        <div class="posts-container">
          {% for post in posts %}
            <div class="post">
              <div class="post-header">
                <div class="post-author-profile-img">
                  <a href="{{ url_for('profile', user_id=post.author.id) }}"
                    ><img
                      src="{{ url_for('static', filename='img/profile-pic.jpg') }}"
                      alt=""
                  /></a>
                </div>
                <div class="post-info">
                  <a href="{{ url_for('profile', user_id=post.author.id) }}" class="post-author-name">{{ post.author.username }}</a>
                  <span class="post-date">{{ post.date_posted.strftime('%d-%m-%Y') }}</span>
                </div>
              </div>
              <div class="post-img">
                <img src="{{ url_for('static', filename='img/img-' + post.post_image + '.jpg') }}" alt="" />
              </div>
              <div class="post-content">
                <div class="post-title">
                  <h2>{{ post.title }}</h2>
                </div>
                <div class="post-text">
                  <p>
                      {{ post.content }}
                  </p>
                </div>
                <div class="post-reaction">
                  <div class="post-reaction-item">
                    <div class="post-reaction-item-icon">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="post-reaction-item-text">
                      <span>Like</span>
                      <span class="reaction-count likes-count">23</span>
                    </div>
                  </div>
                  <div class="post-reaction-item">
                    <div class="post-reaction-item-icon">
                      <i class="fas fa-thumbs-down"></i>
                    </div>
                    <div class="post-reaction-item-text">
                      <span>Dislike</span>
                    </div>
                  </div>
                  <div class="post-reaction-item">
                    <div class="post-reaction-item-icon">
                      <i class="fas fa-comment"></i>
                    </div>
                    <div class="post-reaction-item-text">
                      <span>Comment</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endblock body_content %}
