<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}Regressors{% endblock page_title %}</title>

    <!-- Stylesheets -->
    {% block css_stylesheets %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% endblock css_stylesheets %}

    <!-- FontAwesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navigation bar -->
    {% block navbar %}
      <nav class="nav-bar">
        <div class="container">
          <a href="{{ url_for('home') }}" class="logo">Reg<span>ress</span>ors</a>

          <div class="search-box">
            <input type="text" class="search-txt" placeholder="Search" />
            <a href="#" class="search-btn">
              <i class="fas fa-search"></i>
            </a>
          </div>

          <div class="menu">
            {% if current_user.is_authenticated %}
              <div class="menu-icon notifications-btn"><i class="fas fa-bell"></i></div>
              <div class="profile-btn"><i class="profile-icon fas fa-user"></i><a href="{{ url_for('login') }}"><span class="user-name">{{ current_user.username }}</span></a></div>

            {% else %}
              <div class="btn btn-secondary"><a href="{{ url_for('signup') }}">Signup</a></div>
              <div class="btn btn-primary"><a href="{{ url_for('login') }}">Login</a></div>
            {% endif %}

          </div>
        </div>
      </nav>
    {% endblock navbar %}
    <!-- Navbar ends -->

    {% block flash_messages %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages container">
            {% for category, message in messages %}
              <div class="flash-message {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    {% endblock flash_messages %}

    <section>
        {% block body_content %}{% endblock body_content %}
    </section>

    <!-- Footer -->
    {% block footer %}
    <section class="footer" id="footer">
      <div class="container">
        <p>&#169; Regressors All Rights Reserved 2022-2024</p>
      </div>
    </section>
    {% endblock footer %}
    <!-- Footer ends -->

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
